body{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: Arial;
    font-size: 35px;
    flex-direction: row;
    background: linear-gradient(to right,rgb(43, 43, 43),rgb(122, 122, 122));
    text-align: center;
}
#reiniciar{
    font-size: 30px;
    width: 168px;
    height: auto;
    background: linear-gradient(to right,rgb(19, 151, 19),rgb(39, 216, 39));
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}
#reiniciar:hover{
    transition: 0.5s;
    width: 178px;
    height: auto;
    font: 25px;
    
}